@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen bg-background text-white font-poppins;
  }

  body.compliant {
    @apply font-noto bg-backgroundCompliant;
  }

  body.compliant p {
    @apply max-w-[60ch];
  }

  body:not(.compliant) p,
  body:not(.compliant) h1,
  body:not(.compliant) h2,
  body:not(.compliant) h3,
  body:not(.compliant) h4,
  body:not(.compliant) h5,
  body:not(.compliant) h6 {
    @apply leading-none;
  }

  body.compliant button,
  body.compliant a,
  body.compliant input,
  body.compliant select,
  body.compliant textarea {
    @apply focus:outline-none focus:ring focus:ring-outlineColor;
  }
}
